<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Zoo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post">
        <h2>Állat bekérése</h2>
        <p>
          <label>Név:</label>
          <input type="text" name="allatNeve" required> <br>
        </p>
    
        <p>
          <label>Életkor:</label>
          <input type="number" name="eletKora" required min="0"> <br>
        </p>
    
        <p>
          <label>Fajta:</label>
            <select name="allatFajta" id="" required>
              <option value="pingvin">Pingvin</option>
              <option value="ogre">Ogre</option>
              <option value="madar">Madár</option>
            </select>
        </p>
    
        <p>
          <input type="submit" value="Feltölt">
        </p>
      </form>
</body>
</html>